html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #373737;
  color: white;
  height: 5000px;
  margin: 0;
  background-image: url("res/background.jpg");
  background-repeat: no-repeat;
  background-position: left left fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  font-family: 'Abel', sans-serif;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  margin-top: 0;
  margin-bottom: 0;
  height: 100px;
}

#menu {
  margin: 0 auto;
  width: auto;
}

#menu a {
  text-decoration: none;
  color: white;
}

#menu ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}

#menu li {
  display: inline-block;
  padding: 0 1rem;
  vertical-align: middle;
}

.button {
  margin-top: 10px;
}

.topnav .icon {
  display: none;
}

.content {
  margin: 0;
  padding-top: 100px;
}

.section {
  margin: 0 auto;
}

#home {
  height: auto;
  margin: 15rem auto;
  text-align: center;
  top: 50%;
  left: 50%;
}

@keyframes register-hover {
  from {background-color: none; color: white;}
  to {background-color: white; color: black;}
}

.register-button {
  outline: 2px solid white;  
  width: 15rem;
  margin: 5rem auto;
  padding: 0.25rem;
}

.register-button:hover {
  background-color: white;
  color: black;
  animation-name: register-hover;
  animation-duration: 0.25s;
}

