html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #373737;
  color: white;
  margin: 0;
  font-family: 'Abel', sans-serif;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}

#menu {
  margin: 0 auto;
  width: auto;
}

#menu a {
  text-decoration: none;
  color: grey;
}

#menu .button:hover {
  color: white;
}

#menu .button.active {
  color: white;
}

#menu ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}

#menu li {
  display: inline-block;
  padding: 0 1rem;
  vertical-align: middle;
}

.button {
  margin-top: 10px;
}

.topnav .icon {
  display: none;
}

#home {
  padding: 15rem 0;
  background-image: url("res/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.section {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.section h1 {
  margin: 0;
}

.content {
  background-image: linear-gradient(#1c1c1c, #22364f);
  height: 5000px;
  margin: 0 auto;
}

@keyframes box-hover {
  from {background-color: none; color: white;}
  to {background-color: white; color: black;}
}

.box-button {
  outline: 2px solid white;  
  width: 15rem;
  margin: 5rem auto;
  padding: 0.25rem;
}

.box-button:hover {
  background-color: white;
  color: black;
  animation-name: box-hover;
  animation-duration: 0.25s;
}

.box-button.year {
  display: inline-block;
  margin: 10px;
}

.box-button.selected {
  background-color: white;
  color: black;
}

.big-text {
  font-size: 3.5rem;
}

.description {
  margin: 2rem auto;
  width: 60%;
}

#gathering {
  padding-top: 10rem;
}

.pic {
  margin: 1rem;
  width: 50%;
  height: 50%;
}

.grid-container {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
}

.small-section {
  width: 100%;
  margin: 10px auto;
  display: inline-block;
}

.small-section ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.small-section img {
  width: 75%;
  height: 75%;
}

#group-photo {
  display: block;
  margin: 3rem auto;
}

#about {
  width: 60%;
  margin: 0 auto;
}

.year-section {
  display: none;
}

.year-section.active {
  display: block;
}

.insta-grid {
  width: 60%;
  height: 50rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.post {
  width: 100%;
  height: 100%;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}

.post img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}